<!DOCTYPE html>
<html>
    <head>
        <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
        <title>Save key</title>
    </head>
    <body style="font-size: 20px; background-color: #1E1E1E; color: white;">
        <div>Enter your OpenAI API key. Click <a href="https://platform.openai.com/account/api-keys">here</a> to get one.</div>
        <div id="savekey">
            <form action="/savekey" method="POST">
                <input type="password" name="key" id="key" autocomplete="on" hx-post="/clearkey" hx-target="this" hx-trigger="click" hx-swap="outerHTML">
                <button class="btn">Submit</button>
            </form>
            <a href="/"><button class="btn">Back</button></a>
        </div>
    </body>
</html>